body {
    min-height: 100vh;
    margin: 0;
    background-color: #ffbbc3;
}
header {
    background-color: #f799af;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    width: 100%;
}
header h1{
    font-size: 24px;
}
h1{
    color: #ffffff;
    text-align: center;
    text-shadow: #333 2px 2px 3px;
}
p{
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    
}
nav {
    background-color: #f3cbd0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
}
article.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    max-width: 700px;
    padding: 20px;
    background-color: #ffe4ec;
    border-radius: 16px;
    margin: 40px auto;
    border: 1px solid #f8c8d8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    word-wrap: break-word;    
    overflow-wrap: break-word;  
    word-break: break-word;     
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

nav li a {
  display: block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 6px;
}

nav li a:hover {
  background-color: #a8a8a8;
}

footer {
    background-color: #f799af;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

/*school added something*/
.page-wrapper{
width: 100%;
}